table {
    margin: 20px;
    border: 1px solid #5b95ae;
  }
  
  th {
    padding: 0 40px;
    background-color: #5b95ae;
  }
  
  td {
    padding: 10px;
  }
  
  tr {
    text-align: center;
  }
  
  #table {
    display: flex;
    justify-content: center;
  }
  
  #action {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 20vh;
    align-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
  }
  
  #action a {
    border-radius: 5px;
    padding: 5px 10px;
  }

  #action #edit {
    display: flex;
    color: white;
    background-color: #5b95ae;
    align-items: center;
    
  }
  
  #action #details {
    color: white;
    background-color: #979D85;
  }
  
  #action #delete {
    color: white;
    background-color: #FF603D;
  }
  
  
  #buttonAdd {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  #buttonAdd a {
    border-radius: 5px;
    padding: 5px;
    background-color: #5b95ae;
    color: white;
  }
  
  #buttonAddNew {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  #buttonAddNew a{
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    color : white
  }
  
  