form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #form {
    display: flex;
    padding: 20px;
    height: calc(100vh - 50px);
  }

  #form > div {
    width: 100%;
  }

  #form #form-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  #form #form-background img {
    object-fit: cover;
    transform: rotate(270deg);
  }
  
  form label {
    width: 100%;
  }
  
  form input {
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  
  #card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }