form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    border: solid;
    padding: 10px;
    margin: 10px 200px;
  }

  #form > div {
    width: 100%;
  }

  #form #form-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  #form #form-background img {
    object-fit: cover;
    transform: rotate(270deg);
  }
  
  form label {
    width: 100%;
    
  }
  
  form input {
    padding: 10px;
    display: flex;
    justify-content: center;
    
  }
  
  #card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }