#card img {
    width: inherit;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  
  #card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  
  #description {
    padding: 20px;
  }
  
  #card p, #card h1 {
    margin-bottom: 5px;
  }
  
  #card button {
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    #card {
      width: 100%;
    }
  }