#card img {
    width: inherit;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  
  #card {
    width: 300px;
    background-color: #5b95ae;
    border-radius: 20px;
    overflow: hidden;
    padding: 1px;
    
    
  }
  
  #description {
    padding: 20px;
  }
  
  #card p, #card h1 {
    margin-bottom: 10px;
  }
  
  #card button {
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    #card {
      width: 100%;
    }
  }