#navbar {
    display: flex;
    background-color: #5b95ae;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 70px;
}
#navbar span{
  color: rgb(196, 236, 218);
}

#navbar #menu {
    display: flex;
    gap: 40px;
  }
  
  #navbar a {
    color: #151515;
  }
  
  #navbar a:hover {
    color: greenyellow;
  }
  
  #navbar #user {
    display: flex;
    gap : 20px
  }